<h1>Timetracking tool</h1>

<h2>Project entries</h2>

<% if flash[:notice].present? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<h3>
	<%= @proj.name%>
</h3>

<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<ul>
	<% @entr.each do |entr|%>
 		<li>
 		<%= entr.hours %> hours 	
	   	<%= entr.minutes %> minutes 
	   	<a href="/projects/<%=@proj.id %>/entries/<%=entr.id %>/edit">Edit</a>
	   	<a href="/projects/<%=@proj.id %>/entries/<%=entr.id %>">Delete</a>
	   </li>
	 <% end%>
</ul>
<a href="/projects/<%= @proj.id%>/entries/new">add new entry</a>