<h1>TimeTracking</h1>

<h2>Add new time entry</h2>

<h3>
	<%=@proj.name%>
</h3>

<%= form_for [@proj, @entry] do |f| %>  <!-- Show the entire form -->
	<%= f.label :hours %>
	<%= f.text_field :hours %>
	<%= f.label :minutes %>
	<%= f.text_field :minutes %>
	<%= f.label :date %>
	<%= f.date_field :date%>
	<button type="submit">Submit</button>
<% end %>