<!DOCTYPE html>
<html>
<head>
  <title>ArtProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= link_to 'Home',href='/'%> |
	<%= link_to 'Events', events_path %> |
	<%= link_to 'Artists', users_path %> |
	<%= link_to 'Posts', post_index_path %> |
	<%= link_to 'Gallery', events_path %><br>

</header>
<!-- <a href='/'>Home</a> | -->
<!-- To send alerts when log in or log out sucessful -->
<!-- Alert when user or password aren't on database -->
<!-- <div class="notice"><%#= flash[:notice] %></div>
<div class="alert"><%#= flash[:alert] %></div> -->

<%= yield %>

</body>
</html>
