<!DOCTYPE html>
<html>
<head>
  <title>ArtProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- To send a message at log in when password or email aren't invalid -->
<div class="notice"><%= flash[:notice] %></div>
<div class="alert"><%= flash[:alert] %></div>

<%= yield %>

</body>
</html>
