<!DOCTYPE html>
<html>
<head>
  <title>Artproject</title>
  <!-- <title>ArtProject</title> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div id='container'>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
 		<nav>
      <ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home',href='/'%></li>
				<li><%= link_to 'About',href='/pages/about'%></li> 
				<li><%= link_to 'Events', events_path %></li> 
				<li><%= link_to 'Artists', users_path %></li> 
				<li><%= link_to 'Posts', hred='/' %></li> 
				<li><%= link_to 'Gallery', events_path %></li>
			</ul>
		</nav>
	</div>
	<% if user_signed_in? && !current_user.admin?%>
  		<strong> Welcome <%= current_user.first_name+ ' ' +current_user.last_name%></strong>
  		<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %> 
	 <%elsif current_user.present? && current_user.admin?%>
		<strong> Welcome Administrator!</strong>
  		<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %> 
	<% else %>
  		<strong>Welcome!</strong> 
  		<%= link_to 'Log in',  user_session_path %>
	<% end %>
</header>
<!-- <a href='/'>Home</a> | -->
<!-- To send alerts when log in or log out sucessful -->
<!-- Alert when user or password aren't on database -->
<!-- <div class="notice"><%#= flash[:notice] %></div>
<div class="alert"><%#= flash[:alert] %></div> -->
<div>
	<%= yield %>
</div>

<footer>
	<div class='vertical-center'>
		<spam>2015 ArtProject</spam>
		<spam><i>Twitter logo</i></spam>
		<spam><i>Facebook logo</i></spam>
	</div>
</footer>
</body>
</div>
</html>
