

<div class="main">
<h1>Concerts for <%=@date%></h1>
	<ul>
		<% @concerts.each do |concert| %>
		<a href='/concertnets/<%=concert.id %>/comments'><li>
			Artist:<%= concert.artist %><br>
			Date:<%= concert.date %><br>
			Avenue:<%= concert.venue %><br>
			Price/p:<%= concert.price%><br><br>
		</li></a>

		<% end %>
		<a href='/concertnets/new'>Create concert</a>
	</ul>
</div>


<div class="month_concerts">
<h1>Concerts for this month:</h1>

	<ul>
		<% @concerts_month.each do |concert| %>
		<li>
			Artist:<%= concert.artist %><br>
			Date:<%= concert.date %><br>
			Avenue:<%= concert.venue %><br>
			Price/p:<%= concert.price%><br><br>
		</li>
		<% end %>
    </ul>
</div>

