<!-- <p id="notice"><%= notice %></p> -->

<% if user_signed_in?%>
  <strong>Welcome <%= current_user.first_name%> <%=current_user.last_name%>!</strong>
  <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %> 
<% else %>
  <strong>Welcome!. Please log in</strong> 
  <%= link_to 'Log in',  user_session_path %>
<% end %><br>

