
	<ul>
		<% @projects.each do |project| %>
			<%# if project.name=="Ironhack" %>   <!-- Only show me the projects with that name-->
				<li><%= project.name %>
				<% if !(project.description.nil?)%></li>   <!--Same as saying proyect.description!=nil? -->
					<%= project.description %>
				<%#end%>
			  <% end %>
			  <a href="projects/<%= project.id %>/edit">Edit</a> 
			  <!-- <a href="projects/<%= project.id %>">Delete</a>  -->

			  <!-- To add a message before deleting. This create for me a method and the href addres for the link of the delete. -->
			  <%= link_to('Delete', project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }) %> 
			  <!-- #, confirm: 'Are you sure you want to delete this project?') -->

		<% end %> 
	</ul>