<h1>Visitors reviews:</h1>

<div>
<h4>Comments</h4>
	<ul>
		<% @comments.each do |co| %>
		<li>
			<%= co.comment %><br>
			<%= @date %><br><br>
		</li>

		<% end %>
	</ul>
</div>


<%= form_for [@concert, @comment] do |f| %>  <!-- Show the entire form -->
	<div>
		<%= f.label :comment %>
		<%= f.text_field :comment %>
		<ul>
			<% @comment.errors[:comment].each do |err| %>
				<li><%=err %></li>
					<%end %>
		</ul>
	</div>

   <%=f.submit "Save" %>  	<!-- Button-->
	<!-- <button type="submit">Submit</button> -->
<% end %>
