<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Ends date:</strong>
  <%= @event.ends_date %>
</p>

<p>
  <strong>Image:</strong>
  <img src='<%= @event.image_url %>'>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Organizer name:</strong>
  <%= @event.organizer_name %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

  <% if current_user.present? and current_user.admin? %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>
<%= link_to 'Back', events_path %>
