<h1>Sign Up form</h1>

<%=form_for @user do |form|%>
	<p>
		<%=form.label :name%>
		<%=form.text_field :name%>
	</p>
		<!-- Print message in case title is blank -->
	<%if @user.errors[:name].any?%>
		<p class='error_messages'>
			The given name <%=@user.errors[:name].to_sentence%>
		</p>
	<% end%>

	<p>
		<%=form.label :email%>
		<%=form.text_field :email%>
	</p>
		<!-- Print message in case content is blank -->
	<%if @user.errors[:email].any?%>
		<p class='error_messages'>
			The given email <%=@user.errors[:email].to_sentence%>
		</p>
	<% end%>

	<p>
		<%=form.label :password%>
		<%=form.text_field :password%>
	</p>
		<!-- Print message in case content is blank -->
	<%if @user.errors[:password].any?%>
		<p class='error_messages'>
			The given password <%=@user.errors[:password].to_sentence%>
		</p>
	<% end%>

	<p>
		<%=form.label :Confirmation%>
		<%=form.text_field :password_confirmation%>
	</p>
		<!-- Print message in case content is blank -->
	<%if @user.errors[:password_confirmation].any?%>
		<p class='error_messages'>
			The password confirmation <%=@user.errors[:password_confirmation].to_sentence%>
		</p>
	<% end%>

	<p class='form_buttom'>
		<%=form.submit "Submit"%>
	</p>
	
<% end%>