
	<h1><%= @user.first_name + @user.last_name%></h1>
	<td><img src='<%= @user.image_url(:thumb) %>'></td>

	<p>Contact email:<strong><%=@user.email%></strong></p>
	<p>Description of artist:</p>
	<strong><%=@user.users_description%></strong><br><br>

	<%if current_user.present? && current_user.id==@user.id && !current_user.admin%>
		<a href='/users/<%=@user.id%>/posts/new'>Create new post</a>
    <% end %>
		
	
	<a href='/users/<%=@user.id%>/posts'>List of posts</a>|
	<a href='/users'>Back</a>
	
